<SolutionPackager>
  <Connections>
    <Connection>
      <Name>OrgChartDev</Name>
      <OrgId>7c9734b2-eff6-46bc-95bd-b434d12ee591</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vb3JnY2hhcnQxOS5jcm04LmR5bmFtaWNzLmNvbTtVc2VybmFtZT1kZXZAb3JnY2hhcnQxOS5vbm1pY3Jvc29mdC5jb207UGFzc3dvcmQ9J0RlbWFuZEZhcm1AMTIzJztBdXRoVHlwZT1PZmZpY2UzNjU7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>9.0.0.3292</Version>
    </Connection>
  </Connections>
  <Solutions>
    <Solution>
      <OrgId>7c9734b2-eff6-46bc-95bd-b434d12ee591</OrgId>
      <ProjectName>OrgChartWebResourcePrj</ProjectName>
      <SolutionId>32ec4081-c804-e811-a963-000d3af27534</SolutionId>
      <DownloadManaged>false</DownloadManaged>
    </Solution>
  </Solutions>
</SolutionPackager>